html {
  font-size: 62.5%; }

body, a {
  text-decoration: none;
  font-family: Source Sans Pro;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #FFFFFF; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.container-small {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.line-height-base {
  line-height: 1.5rem; }

.line-height-small {
  line-height: 1.2rem; }

.line-height-none {
  line-height: 0; }

.line-height-big {
  line-height: 1.8rem; }

.line-height-x-big {
  line-height: 2.5rem; }

.justify-text {
  text-align: justify; }

.text-center {
  text-align: center; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.section-we-do {
  color: #071629; }

.header-align {
  text-align: center; }

.align-header {
  padding-left: 382px;
  padding-right: 381px;
  padding-bottom: 115px; }
  @media (max-width: 768px) {
    .align-header {
      padding-left: 66px;
      padding-right: 65px; } }
  @media (max-width: 992px) {
    .align-header {
      padding-left: 66px;
      padding-right: 65px; } }
  @media (max-width: 576px) {
    .align-header {
      padding-left: 9px;
      padding-right: 9px; } }

.header {
  padding-top: 2rem; }

.line-height-desktop {
  margin-top: -2rem; }

.hero {
  background-image: url("https://i.ibb.co/tHPMbCF/headphones-hero-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5rem;
  max-width: 100%;
  height: auto;
  background-position: 37% 50%; }

.btn-primary {
  background: #FF6565;
  width: 162px;
  height: 44px;
  border-radius: 30px; }
  .btn-primary a {
    font-size: 14px;
    font-weight: 700; }

.header-p-size {
  font-size: 16px;
  font-weight: 400; }

.mt-header {
  margin-top: 34rem; }

.header-margin-btn {
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: white;
  font-weight: bold;
  line-height: 17.6px; }
  .header-margin-btn:hover {
    opacity: 0.9; }

@media (max-width: 480px) {
  .mt-header {
    margin-top: 10rem; }

  .header-p-size {
    font-size: 16px;
    font-weight: 400;
    text-justify: auto; }

  .align-header {
    margin: 28rem 1rem 0 1rem; }

  .header-align .line-height-base {
    line-height: 4rem; }
  .header-align .line-height-mobile {
    line-height: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: -2rem; }

  .header-margin-btn {
    margin-top: 1rem;
    margin-bottom: 68px; } }
.title-header {
  font-size: 34px;
  font-weight: 700;
  line-height: 4rem; }

@media (max-width: 767px) {
  .section-hero {
    margin: -0.1rem 0; }

  .hero-homepage {
    background-position: 85% 0; } }
@media (min-width: 767px) {
  .section-we-do .align-we-do {
    margin: 11rem 0rem; }
  .section-we-do .section-body .description-align {
    margin: 0 18rem 8rem; }
    .section-we-do .section-body .description-align .title-we-do {
      font-size: 32px;
      text-align: center; }
  .section-we-do .section-body .row {
    display: flex; }
    .section-we-do .section-body .row .we-do-align {
      display: flex; } }
.align-we-do {
  margin: 11rem 6.5rem; }

@media screen and (max-width: 480px) {
  .section-we-do .section-body .description-align {
    text-align: center; }
  .section-we-do .section-body .row {
    display: block; }
  .section-we-do .we-do-align {
    display: block;
    margin: 0 -2.5rem; }
  .section-we-do .align-we-do {
    margin: 10rem 2.5rem; }
  .section-we-do .we-do-p-size {
    margin: 0 7.5rem !important; }
  .section-we-do .we-do-margin-btn {
    margin-top: 10rem; } }
@media (min-width: 480px) and (max-width: 767px) {
  .section-we-do .section-body .description-align {
    text-align: center; }
  .section-we-do .section-body .row {
    display: block; }
  .section-we-do .we-do-align {
    margin-top: 10rem;
    display: flex; } }
@media (max-width: 768px) {
  .row--column {
    flex-direction: column;
    padding: 0 148px; } }
@media (max-width: 576px) {
  .row--column {
    flex-direction: column;
    padding: 0; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
.navbar-menu {
  float: right; }

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex; }

.nav .nav-item {
  font-family: Source Sans Pro;
  font-weight: 700;
  letter-spacing: 4%;
  display: inline-block;
  margin-left: 4rem;
  margin-top: 1rem;
  color: #FFFFFF; }

.nav .nav-link {
  display: block;
  color: #FFFFFF;
  font-size: 14px; }
  .nav .nav-link:hover {
    color: #FF6565; }

@media (max-width: 767px) {
  .nav-01-header .section-logo {
    justify-content: center;
    align-items: center;
    display: flex; }

  .navbar-menu {
    flex: 1; }

  .nav-01-header .menu-icon {
    cursor: pointer;
    padding: 2.2rem 0.5rem 0 4.5rem;
    position: absolute;
    user-select: none; }

  .nav-01-header .menu-icon .navicon {
    background: #FFFFFF;
    display: block;
    width: 1rem;
    height: .2rem;
    position: relative;
    transition: background .2s ease-out; }

  .nav-01-header .menu-icon .navicon::before,
  .nav-01-header .menu-icon .navicon::after {
    content: "";
    display: block;
    width: 179%;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    transition: all .2s ease-out; }

  .nav-01-header .menu-icon .navicon::before {
    top: .7rem; }

  .nav-01-header .menu-icon .navicon::after {
    top: -.7rem; } }
/* menu btn */
.header .menu-btn {
  display: none; }

.menu-btn:checked ~ .navbar-menu .nav {
  max-height: 100%;
  overflow: inherit; }

.header .menu-btn:checked + .menu-icon .navicon {
  background: transparent; }

.header .menu-btn:checked + .menu-icon .navicon::before {
  transform: rotate(-45deg); }

.header .menu-btn:checked + .menu-icon .navicon::after {
  transform: rotate(45deg);
  top: .7rem; }

.header .menu-btn:checked + .menu-btn .navicon::before,
.header .menu-btn:checked + .menu-btn .navicon::after {
  top: 0; }

@media screen and (max-width: 767px) {
  .header .menu-btn:checked + .header {
    background: yellow; }

  .header .nav {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out; }

  .nav {
    padding: 0;
    margin-top: 6rem;
    margin-bottom: 2rem; }

  .nav .nav-link {
    line-height: 7rem; }

  .section-hero {
    margin: -0.1rem 0; }

  .hero-homepage {
    background-position: 85% 0; }

  .header .menu-icon {
    display: block; }

  .navbar-menu {
    margin-top: -6rem;
    flex: 1;
    width: 100%;
    background: #9797974d; } }
@media (max-width: 480px) {
  .header-logo {
    flex-basis: 70%; } }
@media (min-width: 481px) and (max-width: 767px) {
  .header-logo {
    flex-basis: 79%; } }
.section-logo {
  display: inline-block; }

@media (min-width: 767px) {
  .section-we-do .align-we-do {
    margin: 11rem 0rem; }
  .section-we-do .section-body .description-align {
    margin: 0 18rem 8rem; }
    .section-we-do .section-body .description-align .title-we-do {
      font-size: 32px;
      text-align: center; }
  .section-we-do .section-body .row {
    display: flex; }
    .section-we-do .section-body .row .we-do-align {
      display: flex; } }
.align-we-do {
  margin: 11rem 6.5rem; }

@media screen and (max-width: 480px) {
  .section-we-do .section-body .description-align {
    text-align: center; }
  .section-we-do .section-body .row {
    display: block; }
  .section-we-do .we-do-align {
    display: block;
    margin: 0 -2.5rem; }
  .section-we-do .align-we-do {
    margin: 10rem 2.5rem; }
  .section-we-do .we-do-p-size {
    margin: 0 7.5rem !important; }
  .section-we-do .we-do-margin-btn {
    margin-top: 10rem; } }
@media (min-width: 480px) and (max-width: 767px) {
  .section-we-do .section-body .description-align {
    text-align: center; }
  .section-we-do .section-body .row {
    display: block; }
  .section-we-do .we-do-align {
    margin-top: 10rem;
    display: flex; } }
@media (max-width: 768px) {
  .row--column {
    flex-direction: column;
    padding: 0 148px; } }
@media (max-width: 576px) {
  .row--column {
    flex-direction: column;
    padding: 0; } }

.section-result {
  display: flow-root;
  padding: 0 5%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5rem;
  max-width: 100%;
  height: auto;
  background-position: 37% 50%; }
  .section-result .group-title-results {
    text-align: center;
    margin-top: 10.5rem; }
    .section-result .group-title-results .title-results {
      font-weight: 600;
      font-size: 32px;
      color: #FFFFFF;
      line-height: normal; }
    .section-result .group-title-results .description-results {
      line-height: 2.6rem;
      font-size: 16px;
      color: #FFFFFF; }
  .section-result .pentagones {
    margin-bottom: 7.9rem;
    margin-top: 7.7rem; }
    .section-result .pentagones .box-pentagones {
      text-align: center;
      width: 100%;
      position: relative;
      overflow: hidden; }
    .section-result .pentagones .pentagones-1 {
      width: 50%;
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
      position: relative; }
      .section-result .pentagones .pentagones-1 .title-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 60%;
        font-size: 46px;
        font-weight: bold; }
      .section-result .pentagones .pentagones-1 .description-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 34%;
        font-size: 14px;
        font-weight: normal; }
    .section-result .pentagones .pentagones-2 {
      width: 50%;
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
      position: relative; }
      .section-result .pentagones .pentagones-2 .title-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 60%;
        font-size: 46px;
        font-weight: bold; }
      .section-result .pentagones .pentagones-2 .description-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 34%;
        font-size: 14px;
        font-weight: normal; }
    .section-result .pentagones .pentagones-3 {
      width: 50%;
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
      position: relative; }
      .section-result .pentagones .pentagones-3 .title-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 60%;
        font-size: 46px;
        font-weight: bold; }
      .section-result .pentagones .pentagones-3 .description-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 34%;
        font-size: 14px;
        font-weight: normal; }
    .section-result .pentagones .pentagones-4 {
      width: 50%;
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
      position: relative; }
      .section-result .pentagones .pentagones-4 .title-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 60%;
        font-size: 46px;
        font-weight: bold; }
      .section-result .pentagones .pentagones-4 .description-pentagone {
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
        height: 34%;
        font-size: 14px;
        font-weight: normal; }

.section-we-do--background {
  background-color: red;
  background-image: url("../images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 1070px) {
  .section-result .group-title-results .description-results {
    margin: 0 19rem; } }
@media (min-width: 767px) {
  .pentagones .box-pentagones {
    justify-content: space-between;
    display: flex; }
    .pentagones .box-pentagones .group-tablet {
      width: 100%;
      display: flex; } }
@media (min-width: 480px) and (max-width: 767px) {
  .section-result .pentagones .pentagones-1 {
    margin: 4.2rem auto; }
  .section-result .pentagones .pentagones-2 {
    margin: 4.2rem auto; }
  .section-result .pentagones .pentagones-3 {
    margin: 4.2rem auto; }
  .section-result .pentagones .pentagones-4 {
    margin: 4.2rem auto 6.9rem auto; }

  .pentagones .box-pentagones .group-tablet {
    display: flex; } }
@media (max-width: 480px) {
  .pentagones-1 .description-pentagone {
    width: 66%; }

  .section-result .pentagones .pentagones-2 {
    margin: 4.2rem auto; }
  .section-result .pentagones .pentagones-3 {
    margin: 4.2rem auto; }
  .section-result .pentagones .pentagones-4 {
    margin: 4.2rem auto 6.9rem auto; }

  .pentagones-2 .description-pentagone {
    width: 66%; }

  .pentagones-3 .description-pentagone {
    width: 66%; }

  .pentagones-4 .description-pentagone {
    width: 66%; } }
.title-results {
  color: white;
  text-align: center;
  padding-top: 141px;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 32px;
  line-height: 37px; }

.description-results {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-top: 40px;
  padding-right: 381px;
  padding-left: 382px;
  font-size: 16px;
  line-height: 26px;
  text-align: center; }
  @media (max-width: 768px) {
    .description-results {
      padding-top: 0px;
      padding-right: 0;
      padding-left: 0; } }

@media (max-width: 768px) {
  .results-pentagone-description {
    margin-left: 67px;
    margin-right: 64px; } }
@media (max-width: 576px) {
  .results-pentagone-description {
    margin-left: 34px;
    margin-right: 36px; } }

.results-pentagone {
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 79px; }
  @media (max-width: 768px) {
    .results-pentagone {
      padding-right: 156px;
      justify-content: center;
      padding-left: 156px;
      padding-bottom: 11px; } }
  .results-pentagone__description {
    position: relative;
    z-index: 0; }
  .results-pentagone__number {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 51px;
    z-index: 100; }
  .results-pentagone__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 116px;
    left: 40px; }

@media (max-width: 576px) {
  .results-pentagone-right {
    padding-right: 0; } }

@media (max-width: 768px) {
  .results-pentagone__group:nth-child(1) {
    padding-right: 76px; } }
@media (max-width: 576px) {
  .results-pentagone__group:nth-child(1) {
    padding-right: 0; } }

@media (max-width: 768px) {
  .results-pentagone__group:nth-child(3) {
    padding-right: 76px; } }
@media (max-width: 576px) {
  .results-pentagone__group:nth-child(3) {
    padding-right: 0; } }

@media (max-width: 768px) {
  .results-pentagone-margin {
    margin-bottom: 42px; } }

@media (max-width: 576px) {
  .results-pentagone-last {
    margin-top: 42px; } }

.contact-us {
  margin-top: 11rem; }
  .contact-us .title-conctact-us {
    color: #071629;
    font-size: 32px;
    text-align: center; }
  .contact-us .contact-inputs .group-imputs-contacts {
    width: 100%;
    border: none;
    border-bottom: solid 1px #9797974d;
    padding-bottom: 1.5rem;
    margin-top: 4.4rem; }
  .contact-us .contact-inputs .group-imputs-contacts::placeholder {
    color: #071629;
    font-weight: 600;
    font-size: 14px; }
  .contact-us .btn-contact {
    background: #FF6565;
    text-align: center;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
    width: 162px;
    height: 44px;
    margin-top: 5.6rem;
    margin-bottom: 13rem;
    font-size: 14px; }

@media (min-width: 480px) and (max-width: 767px) {
  .contact-us {
    width: 50%;
    margin-top: 11rem; } }
@media (min-width: 767px) {
  .contact-us {
    width: 7%; } }
@media (max-width: 768px) {
  .contact-us {
    width: 30%; } }
@media (max-width: 576px) {
  .contact-us {
    width: 100%; } }

.contact-us-width {
  width: 30%; }
  @media (max-width: 576px) {
    .contact-us-width {
      width: 100%; } }

.footer-section {
  background: #071629; }
  .footer-section .img-footer-1 {
    width: 45%;
    margin-top: 4.8rem;
    margin-bottom: 4.5rem; }
  .footer-section .icons-footer {
    text-align: center;
    padding: 0 0 4.5rem 0; }
    .footer-section .icons-footer .group-icons-footer {
      color: #FFFFFF;
      background: #071629;
      font-size: 35px;
      margin: 0 1rem; }
  .footer-section .copyright {
    text-align: center; }
    .footer-section .copyright .copyright-p {
      padding-bottom: 3.4rem;
      margin: 0;
      color: gray;
      font-size: 12px; }

@media (min-width: 480px) {
  .footer-section .row {
    display: flex;
    padding: 0 13% 0 17%; }
  .footer-section .img-footer-1 {
    margin-top: 10rem; }
  .footer-section .group-elements-footer {
    display: flex; }
  .footer-section .icons-footer {
    margin-top: 10rem; } }
@media (min-width: 767px) {
  .footer-section .row {
    justify-content: center;
    padding: 0 15%;
    text-align: center;
    width: 100%;
    display: flex; }
  .footer-section .img-footer-1 {
    width: 54%; }

  .text-left {
    text-align: left; }

  .text-center {
    text-align: center; } }
@media (max-width: 480px) {
  .footer-section .container .row {
    text-align: center; } }

/*# sourceMappingURL=4-styles.css.map */
